<div class="mx-auto sm:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between">
    <h3 class="mb-6 text-xl font-semibold">What <%= @post.user.name %> says</h3>
    <%= link_to posts_path do %>
      <i class="fa-solid fa-arrow-left"></i> home
    <% end %>
  </div>

  <%= render @post %>

  <h3 class="mt-8 mb-4 text-xl font-semibold">What people think about:</h3>
  <br>
  <br>
  <%= render 'posts/comments/form', post: @post %>

  <br>
  <br>
  <% @post_comments.each do |comment| %>
    <%= render 'posts/comments/comment', comment: comment%>
  <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>